<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="__PUBLIC__/javascripts/admin/jquery-1.7.2.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<div class="contentArea">
    <div class="Item hr">
        <div class="current">修改密码</div>
    </div>
    <form>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
            <tr>
                <th width="100"><strong>登录邮箱：</strong></th>
                <td><input name="admin[email]" type="text" readonly class="input-group" size="30" value="{$admin['email']}" /></td>
            </tr>
            <tr>
                <th width="100"><strong>新密码：</strong></th>
                <td><input class="input-group" name="admin[password]" type="password" size="30" /></td>
            </tr>
            <tr>
                <th width="100"><strong>确认密码：</strong></th>
                <td><input  class="input-group" name="admin[cfm_password]" type="password" size="30" /></td>
            </tr>
            <input type="hidden" name="admin[id]" value="{$admin['id']}" />
        </table>
    </form>
    <div class="commonBtnArea" >
        <button class="btn submit">提交</button>
    </div>
</div>

<script type="text/javascript">
$(".submit").click(function(){
    commonAjaxSubmit("{:U('Public/updatePassword')}");
    return false;
});
</script>
