<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="__PUBLIC__/javascripts/admin/jquery-1.7.2.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    带有 title 的面板标题
                </h3>
            </div>
            <div class="panel-body">
                面板内容
            </div>
        </div>
        <div class="span4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">面板标题</h3>
                </div>
                <div class="panel-body">
                    这是一个基本的面板
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    带有 title 的面板标题
                </h3>
            </div>
            <div class="panel-body">
                面板内容
            </div>
        </div>
    </div>
</div>